.main{
    border: solid 2px gray;
    width: 250px;
    margin: 0 auto;
    margin-top: 50px;
}
.result{
    width: 100%;
    height: 60px;
    background-color: rgb(240, 185, 185);
}

.btn{
    width: 23%;
    margin-top:   3px;
    margin-bottom: 1px;
    background-color: #9cb3f1;
}
.halfbtn{
    width: 23%;
    margin-top:   3px;
    margin-bottom: 1px; 
    background-color: #9cb3f1;
}
